<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" icon="chevron-back-outline" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <form name="newForm" [formGroup]="newForm">
    <ion-list>

      <ion-grid fixed>

        <ion-row>
          <ion-col size="5">
            <ion-item>
              <ion-label position="floating">Tipo de Documento</ion-label>
              <ion-select placeholder="Seleccione" interface="popover" formControlName="tipo_documento">
                <ion-select-option value="1">C.C</ion-select-option>
                <ion-select-option value="2">T.I</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-label position="floating">N° Identificación</ion-label>
              <ion-input inputmode="text" formControlName="documento"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Nombre(s)</ion-label>
              <ion-input inputmode="text" formControlName="nombre"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input inputmode="text" formControlName="apellido"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Número Celular</ion-label>
              <ion-input formControlName="celular" inputmode="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input formControlName="correo" inputmode="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="contrasena" [type]="passwordTypeInput"></ion-input>
              <ion-button fill="clear" slot="end" class="btn_eye_icon" (click)="showPassword()">
                <ion-icon [name]="passwordTypeInput === 'texto' ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
              </ion-button>
            </ion-item>
            <!-- Input Error
              <ion-item *ngIf="true" lines="none">
              <ion-text color="danger" class="form-error">
                Please enter a valid email address.
              </ion-text>
            </ion-item>
           -->
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-list>

    <ion-item lines="none">
      <ion-checkbox style="margin-right: 0.5em;" formControlName="terminos"></ion-checkbox>
      <ion-label>
        Acepto
        <a href="javascript:;">Términos y condiciones</a>
      </ion-label>
    </ion-item>

    <ion-button (click)="addUser(newForm.value)" expand="full" fill="solid" [disabled]="newForm.invalid">
      Registrarme
    </ion-button>

  </form>

</ion-content>
