<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" icon="chevron-back-outline" color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form name="newForm" [formGroup]="newForm">
    <ion-list>
      <ion-grid fixed>
        <ion-row>
          <ion-col size-md="6" size="12">
            <ion-item>
              <ion-label position="floating">Nombre(s)</ion-label>
              <ion-input inputmode="text" formControlName="usuario_nombre"></ion-input>
            </ion-item>
            <!-- formControl Errors -->
            <ion-item *ngIf="newForm.controls.usuario_nombre.hasError('pattern')" lines="none">
              <ion-text color="danger" class="form-error">
                Nombre(s) inválido(s).
              </ion-text>
            </ion-item>
            <!-- Fin formControl Errors -->
          </ion-col>
          <ion-col size-md="6" size="12">
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input inputmode="text" formControlName="usuario_apellido"></ion-input>
            </ion-item>
            <!-- formControl Errors -->
            <ion-item *ngIf="newForm.controls.usuario_apellido.hasError('pattern')" lines="none">
              <ion-text color="danger" class="form-error">
                Apellido(s) inválido(s).
              </ion-text>
            </ion-item>
            <!-- Fin formControl Errors -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input formControlName="usuario_email" inputmode="email"></ion-input>
            </ion-item>
            <!-- formControl Errors -->
            <ion-item *ngIf="newForm.controls.usuario_email.hasError('pattern')" lines="none">
              <ion-text color="danger" class="form-error">
                Correo electrónico inválido.
              </ion-text>
            </ion-item>
            <!-- Fin formControl Errors -->
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="usuario_password" [type]="passwordTypeInput"></ion-input>
              <app-input-password [typeInput]="passwordTypeInput" (newTypeInput)="passwordTypeInput = $event"></app-input-password>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-item lines="none">
      <ion-checkbox style="margin-right: 0.5em;" formControlName="usuario_terminos"></ion-checkbox>
      <ion-label>
        Acepto
        <a href="javascript:;">Términos y condiciones</a>
      </ion-label>
    </ion-item>
    <ion-button (click)="addCliente(newForm.value)" expand="full" fill="solid" [disabled]="newForm.invalid">
      Registrarme
    </ion-button>
  </form>  
</ion-content>
