<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Email</ion-label>
      <p>{{ user.email }}</p>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>{{ user.name }}</p>
    </ion-item>
    <ion-item>
      <ion-label>Uid</ion-label>
      <p>{{ user.uid }}</p>
    </ion-item>
  </ion-list>

  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="changeName()" expand="block" fill="clear" shape="round">
    Cambiar Nombre
  </ion-button>
  

</ion-content>
